body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(0, 14, 44);
}

#myH1 {
    margin-top: 36px;
}

#myDiv {
    background-color: #dedede;
    margin: 32px;
    border-radius: 6px;
    padding: 12px;
}

#myform {
    background-color: #a0cfff;
    border-radius: 6px;
    padding: 18px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    text-align: center;
}

#submitBtn {
    background-color: #1877f8;
    color: white;
    font-size: 18px;
}